@use "consts.scss";

.container {
    display: flex;
}


.rocket {
    margin: -8px;
    display: flex;
    justify-content: center;
}

.rocket_elements {
    max-width: 800px;
}

.rocket::after {
    /* clear floats afterwards */
    content: "";
    display: table;
    clear: both;
}

.left,
.right {
    clear: both;
    display: inline-block;
    background: consts.$back_sec;
    padding: 10px 16px;
    margin: 8px;
    border-radius: consts.$border-radius;
    max-width: 80%;
}

.right {
    float: right;
    /* text-align: right; */
}

.left {
    float: left;
    /* text-align: right; */
}

.chris_head {
    width: calc(100% - 16px);
    margin: 8px;
    border-radius: consts.$border-radius;
}


.contacts {
    width: 50%;
    float: right;
}

.contact {
    width: 50%;
    float: left;
    padding-left: 16px;
    text-decoration: none;
}

.contact::after {
    /* clear floats afterwards */
    content: "";
    display: table;
    clear: both;
}

.contact:hover .icon {
    mask-size: 91% 91%;
    -webkit-mask-size: 91% 91%;
}

.contact:hover hr {
    border-color: consts.$hover_accent;
}

.content {
    background-color: consts.$back_sec;
    padding: 10px;
    margin-bottom: 16px;
    border-radius: consts.$border_radius;
    // manually measured because...
    height: 165px;
}

.content h3 {
    font-family: liberation_mono;
}

.content hr {
    border-color: consts.$accent;
    border-style: solid;
    transition: border-color consts.$transition_time;
    margin: 5px -5px 10px;
}

.icon {
    display: inline-block;
    width: 100%;
    height: 95px;
    background-color: consts.$text;

    mask-size: 90% 90%;
    -webkit-mask-size: 90% 90%;
    mask-repeat: no-repeat;
    -webkit-mask-repeat: no-repeat;
    mask-position: center;
    -webkit-mask-position: center;

    transition: mask-size consts.$transition_time -webkit-mask-size consts.$transition_time;
}

@media (max-width: 1280px) {
    .container {
        flex-direction: column;
    }

    .rocket {
        width: calc(100% + 16px);
    }

    .contacts {
        margin-top: 16px;
        width: 100%;
        max-width: calc(800px - 16px);
        margin-left: auto;
        margin-right: auto;
    }

    .contact {
        width: 100%;
        padding-left: 0px;
    }

    .content {
        height: auto;
    }
}
