@use "consts.scss";

.container {
    display: flex;
}


.rocket {
    margin: -8px;
    display: flex;
    justify-content: center;
}
.rocket_elements {
    max-width: 800px;
}

.rocket::after {
    /* clear floats afterwards */
    content: "";
    display: table;
    clear: both;
}

.left, .right {
    clear: both;
    display: inline-block;
    background: consts.$back_sec;
    padding: 10px 16px;
    margin: 8px;
    border-radius: consts.$border-radius;
    max-width: 80%;
}

.left {
    float: right;
    /* text-align: right; */
}
.right {
    float: left;
    /* text-align: right; */
}


.contacts {
    width: 50%;
    float: right;
}

.contact {
    width: 50%;
    float: left;
    padding-left: 16px;
    text-decoration: none;
}
.contact::after {
    /* clear floats afterwards */
    content: "";
    display: table;
    clear: both;
}

.contact:hover .icon {
    mask-size: 91% 91%;
    -webkit-mask-size: 91% 91%;
}
.contact:hover hr {
    border-color: consts.$hover_accent;
}

.content {
    background-color: consts.$back_sec;
    padding: 10px;
    margin-bottom: 16px;
    border-radius: consts.$border_radius;
}

.content hr {
    border-color: consts.$accent;
    transition: border-color consts.$transition_time;
    margin: 5px -5px 10px;
}

.icon {
    display: inline-block;
    width: 100%;
    height: 10vh;
    background-color: consts.$text;

    mask-size: 90% 90%;
    -webkit-mask-size: 90% 90%;
    mask-repeat: no-repeat;
    -webkit-mask-repeat: no-repeat;
    mask-position: center;
    -webkit-mask-position: center;

    transition: mask-size consts.$transition_time -webkit-mask-size consts.$transition_time;
}

.pgp_container {
    float: left;
    padding-left: 16px;
    width: 100%;
}

.pgp {
    font-size: 0.8vw;
    padding: 10px;
    font-family: 'liberation_mono', 'Courier New', monospace;
    background-color: consts.$back_sec;
    margin-bottom: 16px;
    border-radius: consts.$border_radius;
    overflow: scroll;
}

.music_container {
    background-color: consts.$back_sec;
    margin-bottom: 16px;
    border-radius: consts.$border_radius;
}

.music {
    padding: 10px;
    font-family: 'liberation_mono', 'Courier New', monospace;
    overflow: scroll;
}

@media (max-width: 1200px) {
    .container {
        flex-direction: column;
    }

    .rocket {
        width: 100%;
    }
    .contacts {
        margin-top: 16px;
        width: 100%;
    }
    .contact {
        width: 100%;
        padding-left: 0px;
    }

    .pgp_container {
        padding-left: 0px;
    }
    .pgp {
        font-size: 2.35vw;
    }
}

