@import "consts.scss";

.container::after {
    content: "";
    display: table;
    clear: both;
}

.about {
    width: calc(100% - 600px);
    float: left;
    margin-bottom: 16px;
}

.about p {
    margin-bottom: 16px;
    line-height: 18px;
}

.about h2 {
    font-size: 2em;
    line-height: 1.25;
    margin-bottom: 16px;
}

.about ul {
    padding-left: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.about li {
    list-style-type: disc;
}

.contacts {
    width: 600px;
    float: right;
}

.contact {
    width: 50%;
    float: left;
    padding-left: 16px;
}
.contact::after {
    /* clear floats afterwards */
    content: "";
    display: table;
    clear: both;
}

.contact:hover .icon {
    mask-size: 91% 91%;
    -webkit-mask-size: 91% 91%;
}
.contact:hover hr {
    border-color: $hover_accent;
}

.content {
    background-color: $back_sec;
    padding: 10px;
    margin-bottom: 16px;
    border-radius: $border_radius;
}

.content hr {
    border-color: $accent;
    transition: border-color $transition_time;
    margin: 5px -5px 10px;
}

.icon {
    display: inline-block;
    width: 100%;
    height: 10vh;
    background-color: $text;

    mask-size: 90% 90%;
    -webkit-mask-size: 90% 90%;
    mask-repeat: no-repeat;
    -webkit-mask-repeat: no-repeat;
    mask-position: center;
    -webkit-mask-position: center;

    transition: mask-size $transition_time -webkit-mask-size $transition_time;
}

@media (max-width: 1000px) {
    .about {
        width: 100%;
    }
    .contacts {
        width: 100%;
    }
    .contact {
        width: 100%;
        padding-left: 0px;
    }
}
