@use "consts.scss";

.metadata {
    width: 100%;
    margin-left: 10px;
    margin-bottom: 10px;
}

.metadata::after {
    /* clear floats afterwards */
    content: "";
    display: table;
    clear: both;
}

.author {
    display: none;
}

@media print {
    .metadata {
        text-align: right;
        margin-top: 5px;
    }

    .author {
        display: inline !important;
    }
}
