@import "consts.scss";

.article {
    /* margin-top: 10px; */
}
.date {
    float: right;
    /* width: 100%; */
}
.author {
    float: right;
    margin-right: 5px;
    display: none;
}
@media print {
    .author {
        display: inline !important;
    }
}
