@use "consts.scss";

.article {
    background-color: consts.$back_sec;
    padding: 10px;
    border-radius: consts.$border_radius;
    width: 100%;
    display: block;
    margin-bottom: 16px;

    display: flex;
    flex-direction: row;
    text-decoration: none;
}

.image {
    width: 30%;
}

.body {
    padding-left: 16px;
    width: 70%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@media (max-width: 1000px) {
    .article {
        flex-direction: column;
    }

    .image {
        width: 100%;
        margin-bottom: 8px;
    }

    .body {
        width: 100%;
        padding-left: 0px;
    }
}

.heading {
    font-size: 30px;
}

.article p {
    margin-bottom: 16px;
    line-height: 1.3em;
}

.article p:last-of-type {
    margin-bottom: 0px;
}

.article hr {
    border-color: consts.$accent;
    border-style: solid;
    transition: border-color consts.$transition_time;
    margin: 5px -5px 10px;
}

.article:hover hr {
    border-color: consts.$hover_accent;
}

.date {
    margin-top: 8px;
}
