@import "consts.scss";

.metadata {
    width: 100%;
    text-align: right;
    margin-bottom: 5px;
    float: right;
}
.metadata::after {
    /* clear floats afterwards */
    content: "";
    display: table;
    clear: both;
}
.author {
    display: none;
}

@media print {
    .author {
        display: inline !important;
    }
}

