$back_pri:        #1D1D1D;
$back_sec:        #181818;
$nav:             $back_sec;
$text:            #ffffff;
$link:            #fffcf2;
$link_hover:      rgba(100%, 100%, 100%, 0.4);
$link_background: $nav;
