@media (prefers-color-scheme: light) {
    :root {
        --color-back-pri: #ffffff;
        --color-back-sec: #eeeeee;
        --color-heading: #ffffff;
        --color-nav: #e0e0e0;
        --color-text: #000000;
        --color-icon-mono: #a4a4a4;
        --color-link: #fffcf2;
        --color-link-hover: rgba(100%, 100%, 100%, 0.4);
        --color-accent: #ffa500;
        --color-hover-accent: #31afd4;
        --color-tile-title: rgba(224, 224, 224, 1);
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --color-back-pri: #343a40;
        --color-back-sec: #212529;
        --color-heading: #343a40;
        --color-nav: #212529;
        --color-text: #ffffff;
        --color-icon-mono: #ffffff;
        --color-link: #fffcf2;
        --color-link-hover: rgba(100%, 100%, 100%, 0.4);
        --color-accent: #ffa500;
        --color-hover-accent: #31afd4;
        --color-tile-title: rgba(33, 37, 41, 0.98);
    }
}

$back_pri: var(--color-back-pri);
/* background of blocks */
$back_sec: var(--color-back-sec);
$back_heading: var(--color-heading);
$back_tile_title: var(--color-tile-title);
$nav: var(--color-nav);
$text: var(--color-text);
$icon_mono: var(--color-icon-mono);
$link: var(--color-link);
$link_hover: var(--color-link-hover);
$accent: var(--color-accent);
$hover_accent: var(--color-hover-accent);

$border_radius: 3px;
$transition_time: 0.3s;
