$back_pri:        #343A40;
/* background of blocks */
$back_sec:        #212529;
$back_heading:    #343A40;
$back_pri_dim:    rgba($back_pri, 0.98);
$back_sec_dim:    rgba($back_sec, 0.98);
$nav:             #212529;
$text:            #ffffff;
$link:            #fffcf2;
$link_hover:      rgba(100%, 100%, 100%, 0.4);
$accent:          #ffa500;
$hover_accent:    #31AFD4;

$border_radius:   3px;
$transition_time: 0.3s;
