@import "consts.scss";

.contacts {
    margin-top: 16px;
    margin-bottom: 16px;
}

.icon {
    display: inline-block;
    width: 100%;
    height: 20vh;
    background-color: $text;

    mask-size: 90% 90%;
    -webkit-mask-size: 90% 90%;
    mask-repeat: no-repeat;
    -webkit-mask-repeat: no-repeat;
    mask-position: center;
    -webkit-mask-position: center;

    transition: mask-size $transition_time -webkit-mask-size $transition_time;
}

.contact:hover .icon {
    mask-size: 91% 91%;
    -webkit-mask-size: 91% 91%;
}

.text {
    height: calc(2*25px);
    font-size: 18px;
    line-height: 25px;
}

@media (max-width: 1000px) {
    .text {
        height: auto;
    }
}
