@import "consts.scss";

.contacts {
    margin: 0px -16px;
    padding: 8px;
}

.contacts::after {
    /* clear floats afterwards */
    content: "";
    display: table;
    clear: both;
}

.contact {
    padding: 8px;
    float: left;
    width: 25%;
}

.content {
    background-color: $back_sec;
    padding: 10px;
    text-align: center;
    border-radius: $border-radius;
}
.content h3 {
    font-size: 20px;
    margin-top: 10px;
}
.content p {
    margin-top: 10px;
    margin-bottom: 10px;
}
.content img {
    width: 100%;
    height: 10vh;
}

.icon {
    display: inline-block;
    width: 100%;
    height: 10vh;
    background: $text;

    mask-size: 90% 90%;
    -webkit-mask-size: 90% 90%;
    transition: mask-size 0.5s;
    mask-repeat: no-repeat;
    -webkit-mask-repeat: no-repeat;
    mask-position: center;
    -webkit-mask-position: center;
}

.content:hover .icon {
    mask-size: 100% 100%;
    -webkit-mask-size: 100% 100%;
}

/* responsive layout, only two or one element per row */
@media (max-width: 1200px) {
    .contact {
        width: 50%;
    }
}

@media (max-width: 800px) {
    .contact {
        width: 100%;
    }
}
