.contact path {
    font-size: 500px;
}

.contacts {
    margin: 8px -16px;
    padding: 8px;
}

.contacts::after {
    /* clear floats afterwards */
    content: "";
    display: table;
    clear: both;
}

.contact {
    padding: 8px;
    float: left;
    width: 25%;
}

.content {
    background-color: white;
    padding: 10px;
}
.content h3 {
    font-size: 20px;
    margin-top: 10px;
}
.content p {
    margin-top: 20px;
}

/* responsive layout, only two or one element per row */
@media (max-width: 900px) {
    .contact {
        width: 50%;
    }
}

@media (max-width: 600px) {
    .contact {
        width: 100%;
    }
}
