/* liberation_sans */
/* don't forget to adjust any preloading when changing something */

@font-face {
    font-family: liberation_sans;
    src: url("/fonts/LiberationSans-Regular-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: liberation_sans;
    src: url("/fonts/LiberationSans-Bold-webfont.woff") format("woff");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: liberation_sans;
    src: url("/fonts/LiberationSans-Italic-webfont.woff") format("woff");
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: liberation_sans;
    src: url("/fonts/LiberationSans-BoldItalic-webfont.woff") format("woff");
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: liberation_mono;
    src: url("/fonts/LiberationMono-Regular-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: liberation_mono;
    src: url("/fonts/LiberationMono-Bold-webfont.woff") format("woff");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: liberation_mono;
    src: url("/fonts/LiberationMono-Italic-webfont.woff") format("woff");
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: liberation_mono;
    src: url("/fonts/LiberationMono-BoldItalic-webfont.woff") format("woff");
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}
