@import "consts.scss";

.wrapper {
    margin: 0;
}

.element {
    height: auto;
    float: right;
    max-width: 60%;
    margin-left: 16px;
}
.full_element {
    height: auto;
    float: left;
    max-width: 100%;
    width: 100%;
    // because margin-bottom in the wrapper doesn't work
    margin-bottom: 16px;
}
.before {
    /* clear float before element */
    content: "";
    display: table;
    clear: both;
}
.after {
    display: none;
}

/* when small, make act like normal paragraph */
@media (max-width: 1100px) {
    .wrapper {
        margin-bottom: 16px;
    }
    .element {
        max-width: 100%;
        float: left;
        margin-left: 0px;
    }
    .before {
        display: none;
    }
    .after {
        display: table;
        clear: both;
    }
}

