@import "consts.scss";

.image {
    /* to negate markdown style */
    max-width: 60% !important;
    height: auto;
    float: right;
    margin: 0px 0px 16px 16px;
}
.wrapper::before {
    /* clear float before image */
    /* needs to be on wrapper <- ::after probably can't be applied to image */
    content: "";
    display: table;
    clear: both;
}

@media (max-width: 1000px) {
    .image {
        max-width: 100%;
    }
    .wrapper::after {
        content: "";
        display: table;
        clear: both;
    }
}
