@import "consts.scss";

.heading {
    background-color: $back_heading;
    border-radius: $border-radius;
    width: 100%;
    padding: 9px 7px;
    /* padding: 7px 15px; */
    display: inline-block;
}

.heading h1 {
    padding: 0px 7px;
    font-size: 50px;
    /* break at word endings */
    word-break: break-word;
}

.heading h2 {
    margin-top: 10px;
    font-size: 30px;
}

.heading hr {
    margin-top: 10px;
    margin-bottom: 10px;
    border-color: $text;
}

@media (max-width: 700px) {
    .heading hr {
        display: none;
    }
}

.icon {
    margin-left: 10px;
    height: 2em;
    width: 2em;
    background: $text;
    float: right;

    mask-size: contain;
    mask-repeat: no-repeat;
    mask-position: center;
}

.sub_heading {
    margin-left: 10px;
    float: right;
    font-size: 40px;
    text-align: right;
}

