@import "colors.scss";

.projects {
    margin: 8px -16px;
    padding: 8px;
}

.projects::after {
    /* clear floats afterwards */
    content: "";
    display: table;
    clear: both;
}

.project {
    padding: 8px;
    float: left;
    width: 25%;
}

.content {
    background-color: $back_sec;
    padding: 10px;
}
.content h3 {
    font-size: 20px;
    margin-top: 10px;
}
.content p {
    margin-top: 20px;
}
.content img {
    width: 100%;
}

/* responsive layout, only two or one element per row */
@media (max-width: 900px) {
    .project {
        width: 50%;
    }
}

@media (max-width: 600px) {
    .project {
        width: 100%;
    }
}
