@use "consts.scss";

.banner_image img {
    object-position: 65% 30%;
}

.banner_content {
    font-size: 30px;
    --color-text: #ffffff;
    --color-icon-mono: #ffffff;
}

.languages {
    display: flex;
    flex-direction: row;
}

.language {
    margin: 10px;
    font-size: 35px;
}
