.portfolio_heading h1 {
    font-size: 50px;
    /* break at word endings */
    word-break: break-word;
}
.portfolio_heading h2 {
    margin-top: 10px;
    font-size: 30px;
}
.portfolio_heading hr {
    margin-top: 10px;
    margin-bottom: 10px;
}

.projects {
    margin: 8px -16px;
    padding: 8px;
}

.projects::after {
    /* clear floats afterwards */
    content: "";
    display: table;
    clear: both;
}

.project {
    padding: 8px;
    float: left;
    width: 25%;
}

.content {
    background-color: white;
    padding: 10px;
}
.content h3 {
    font-size: 20px;
    margin-top: 10px;
}
.content p {
    margin-top: 20px;
}

/* responsive layout, only two or one element per row */
@media (max-width: 900px) {
    .project {
        width: 50%;
    }
}

@media (max-width: 600px) {
    .project {
        width: 100%;
    }
}
