@import "colors.scss";

.icon_wrapper {
    position: relative;
}

.icon {
    width: 1em;
    height: 1em;
    opacity: 0%;
    transition: opacity 0.3s;
}

.icon_mono {
    position: absolute;
    top: 0;
    left: 0;
    width: 1em;
    height: 1em;
    background: $text;

    opacity: 100%;
    transition: opacity 0.3s;

    mask-size: contain;
    -webkit-mask-size: contain;
    mask-repeat: no-repeat;
    -webkit-mask-repeat: no-repeat;
    mask-position: center;
    -webkit-mask-position: center;
}

.icon_wrapper:hover .icon {
    opacity: 100%;
}

.icon_wrapper:hover .icon_mono {
    opacity: 0%;
}

