@use "consts.scss";

.icon_wrapper {
    position: relative;
    width: 1em;
    height: 1em;
}

.icon {
    width: 100%;
    height: 100%;
    opacity: 0%;
    transition: opacity consts.$transition_time;
}

.icon_mono {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: consts.$text;

    opacity: 100%;
    transition: opacity consts.$transition_time;

    mask-size: contain;
    -webkit-mask-size: contain;
    mask-repeat: no-repeat;
    -webkit-mask-repeat: no-repeat;
    mask-position: center;
    -webkit-mask-position: center;
}

.icon_wrapper:hover .icon {
    opacity: 100%;
}

.icon_wrapper:hover .icon_mono {
    opacity: 0%;
}
