@import "consts.scss";

/* nav bar */
.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: $nav;
    color: $text;
}

.nav input[type=checkbox] {
    display: none;
}

.nav_menu a {
    text-decoration: none;
    color: $text;
}

.logo {
    margin-left: 30px;
    font-family: Menlo, monospace;
}
.logo h1 {
    font-size: 24px;
}
.logo h2 {
    margin-top: 5px;
    font-size: 18px;
}

.nav_menu li:last-child {
    margin-right: 30px;
}

.nav_menu {
    display: flex;
    gap: 0px;
    font-size: 18px;
}

.nav_menu li {
    list-style: none;
}

.nav_menu a {
    padding: 7px 10px;
}

.nav_menu a:hover {
    background-color: $link_hover;
    /* rounded corners */
    border-radius: $border-radius;
    /* hover changes animated */
    /* transition: $transition_time; */
}

.hamburger {
    display: none;
    font-size: 24px;
    user-select: none;
}

@media (max-width: 768px) {
    .hamburger {
        margin-bottom: 35px;
    }

    .nav_menu {
        display: block;
        position: absolute;
        background-color: $nav;
        right: 0px;
        left: 0px;
        text-align: center;

        max-height: 0;
        padding: 0 0;
        transition: max-height $transition_time ease-out, padding $transition_time ease-out;
        overflow: hidden;
    }
    /* .nav_menu that is preceded by a checked checkbox in .nav */
    .nav input[type=checkbox]:checked ~ .nav_menu {
        /* grow menu when hamburger clicked */
        max-height: 500px;
        padding: 16px 0;
        transition: max-height $transition_time ease-in, padding $transition_time ease-in;
    }

    .logo {
        padding-left: 0;
    }

    .nav_menu li:last-child {
        margin-right: 0;
    }

    .nav_menu li:hover {
        display: inline-block;
    }
    /* all lis except first one */
    .nav_menu li + li {
        margin-top: 12px;
    }

    .hamburger {
        display: block;
    }
    .hamburger:hover {
        cursor: pointer;
    }
}

/* content */
.content {
    padding: 20px;
    max-width: 1280px;
    /* center horizontally */
    margin: auto;
    min-height: 88vh;
}

/* footer */
.footer {
    display: flex;
    width: 100%;
    height: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: Menlo, monospace;
    background-color: $nav;
}

.footer ul {
    display: inline-grid;
    grid-auto-flow: row;
    grid-gap: 24px;
    justify-items: center;
    margin: auto;
}

@media (min-width: 768px) {
    .footer ul {
        grid-auto-flow: column;
    }
}

.footer li * {
    color: $text;
    text-decoration: none;
}

.footer li a {
    box-shadow: inset 0 -1px 0 $link_hover;
}

.footer a:hover {
    box-shadow: inset 0 -1.2em 0 $link_hover;
}

.emoji {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.link:hover ~ .emoji p {
    animation: wave-animation 0.5s infinite;
}

@keyframes wave-animation {
    0% {
    transform: rotate(0deg);
    }
    100% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(10deg);
    }
    75% {
        transform: rotate(-7deg);
    }
}
