@use "consts.scss";

.privacy p {
    margin-top: 10px;
    margin-bottom: 10px;
}

.privacy h1 {
    font-size: 40px;
    margin-top: 20px;
    margin-bottom: 10px;
}

/* .privacy :link { color: #0000EE; } */
/* .privacy :visited { color: #551A8B; } */
