@import "consts.scss";

.sub_heading {
    background-color: $back_heading;
    border-radius: $border-radius;
    width: 100%;
    padding: 9px 7px;
    /* padding: 7px 15px; */
    display: inline-block;
}

.sub_heading h1 {
    padding: 0px 7px;
    font-size: 40px;
    /* break at word endings */
    word-break: break-word;
}

.sub_heading hr {
    margin-top: 10px;
    margin-bottom: 10px;
    border-color: $text;
}

