@import "consts.scss";

.main_block, .block {
    display: inline-block;
    background: $back_sec;
    padding: 10px 16px;
    border-radius: $border-radius;
}

main_block {
    margin-top: 16px;
}

.link {
    text-decoration: none;
    margin-right: 20px;
}

.link:hover {
    background-color: $link_hover;
}
