@import "consts.scss";

.block {
    display: inline-block;
    background: $back_sec;
    padding: 10px 16px;
    border-radius: 1px;
    font-weight: 500;
    border-radius: $border-radius;
}

.link {
    text-decoration: none;
    margin-right: 20px;
}

.link:hover {
    background-color: $link_hover;
}
