@use "consts.scss";

.main_block,
.block {
    display: inline-block;
    background: consts.$back_sec;
    padding: 10px 16px;
    border-radius: consts.$border-radius;
}

main_block {
    margin-top: 16px;
}

.link {
    text-decoration: none;
    margin-right: 20px;
    margin-bottom: 16px;
}

.link:hover {
    background-color: consts.$link_hover;
}

.spacer {
    content: "";
    display: table;
    clear: both;
}
