@import "consts.scss";

.wrapper {
    margin: 16px;
}
.video, .video_no_print {
    max-width: 60%;
    height: auto;
    float: right;
}
.removed_warn {
    display: none !important;
}
@media print {
    .video_no_print {
        display: none !important;
    }
    .removed_warn {
        display: block !important;
    }
}
.wrapper::before {
    /* clear float before video */
    /* needs to be on wrapper <- ::after can't be applied to video */
    content: "";
    display: table;
    clear: both;
}

@media (max-width: 1000px) {
    .video, .video_no_print {
        max-width: 100%;
    }
    .wrapper::after {
        content: "";
        display: table;
        clear: both;
    }
}
