@use "consts.scss";

.video,
.video_no_print {
    width: 100%;
    height: auto;
}

.removed_warn {
    display: none;
}

@media print {
    .video_no_print {
        display: none;
    }

    .removed_warn {
        display: block;
    }
}
