
/* start of styles/reset.css */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* end of styles/reset.css */

/* start of styles/colors.css */
@media (prefers-color-scheme: light) {
    :root {
        --color-navbar-bg: darkgrey;
        --color-navbar-text: black;
        --color-navbar-highlight: lightgrey;
        --color-body-bg: white;
        --color-body-text: black;
        color-scheme: light;
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --color-navbar-bg: brown;
        --color-navbar-text: white;
        --color-navbar-highlight: darkgrey;
        --color-body-bg: black;
        --color-body-text: white;
        color-scheme: dark;
    }
}

/* end of styles/colors.css */

/* start of styles/fonts.css */
@font-face {
    font-family: LiberationSans;
    src: url("fonts/LiberationSans-Regular-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: LiberationSans;
    src: url("fonts/LiberationSans-Bold-webfont.woff") format("woff");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: LiberationSans;
    src: url("fonts/LiberationSans-Italic-webfont.woff") format("woff");
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: LiberationSans;
    src: url("fonts/LiberationSans-BoldItalic-webfont.woff") format("woff");
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: LiberationMono;
    src: url("fonts/LiberationMono-Regular-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: LiberationMono;
    src: url("fonts/LiberationMono-Bold-webfont.woff") format("woff");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: LiberationMono;
    src: url("fonts/LiberationMono-Italic-webfont.woff") format("woff");
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: LiberationMono;
    src: url("fonts/LiberationMono-BoldItalic-webfont.woff") format("woff");
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

/* end of styles/fonts.css */

/* start of styles/layout.module.css */
:root {
    font-family: LiberationSans, sans-serif;

    --layout-nav-height: 80px;
    --layout-nav-padding-right: calc((var(--layout-nav-height) - var(--layout-nav-burger-height)) / 2);
    --layout-nav-padding-left: 20px;

    /* --layout-nav-burger-height: calc(var(--layout-nav-height) - 2 * var(--layout-nav-padding)); */
    --layout-nav-burger-height: 25px;
    --layout-burger-gap: calc((var(--layout-nav-burger-height) - 3 * var(--layout-burger-height)) / 2);
    --layout-burger-width: 25px;
    --layout-burger-height: 3px;

    --layout-footer-height: 30px;
}

.layout_navbar {
    height: calc(var(--layout-nav-height));
    display: flex;
    flex-direction: row;
    gap: var(--layout-nav-padding-right);
    justify-content: space-between;
    align-items: center;
    padding-left: var(--layout-nav-padding-left);
    padding-right: var(--layout-nav-padding-right);

    background-color: var(--color-navbar-bg);
}

.layout_navbar_left {
    color: var(--color-navbar-text);
    text-decoration: none;
    font-family: LiberationMono, monospace;
}

.layout_navbar_left h1 {
    font-size: clamp(0px, 6.5vw, 30px);
}

.layout_navbar_left h2 {
    margin-top: 3px;
    font-size: clamp(0px, 3.5vw, 16px);
}

.layout_navbar_right {
    font-size: 18px;

    flex-direction: row;
    justify-content: space-between;
    gap: 5px;
}

.layout_navbar_right input {
    display: none;
}

.layout_nav_links a {
    padding: 10px 15px;
    border-radius: 3px;
    color: var(--color-navbar-text);
    text-decoration: none;
}

.layout_nav_links a:hover {
    background: var(--color-navbar-highlight);
}

.layout_navbar_hamburger {
    display: none;
    flex-direction: column;
    gap: var(--layout-burger-gap);
    cursor: pointer;
}

.layout_navbar_hamburger div {
    width: var(--layout-burger-width);
    height: var(--layout-burger-height);
    border-radius: 3px;
    background-color: var(--color-navbar-text);
    transition: 0.3s;
}

.layout_transient_space {
    display: none;
    height: calc(100vh - var(--layout-nav-height));

    max-width: 200px;
    margin: auto;
}

.layout_transient_space .layout_nav_links {
    padding-top: 50px;
    height: 80%;

    display: flex;
    flex-direction: column;
    gap: 30px;
}

.layout_transient_space .layout_nav_links a:nth-child(2n) {
    text-align: right;
}

.layout_transient_space .layout_nav_links a {
    color: var(--color-navbar-text);
    text-decoration: none;
}

@media (max-width: 900px) {
    .layout_navbar_hamburger {
        display: flex;
    }

    .layout_navbar_right a {
        display: none;
    }

    body:has(#layout_navbar_toggle:checked) .layout_transient_space {
        display: block;
    }

    body:has(#layout_navbar_toggle:checked) .layout_content {
        display: none;
    }

    body:has(#layout_navbar_toggle:checked) .layout_footer {
        display: none;
    }

    body:has(#layout_navbar_toggle:checked) {
        background-color: var(--color-navbar-bg);
        color: var(--color-navbar-text);
    }

    body:has(#layout_navbar_toggle:checked) .layout_navbar_hamburger div:nth-child(1) {
        transform: translateY(calc((var(--layout-burger-height) + var(--layout-burger-gap)))) rotate(45deg);
    }

    body:has(#layout_navbar_toggle:checked) .layout_navbar_hamburger div:nth-child(2) {
        transform: rotate(45deg);
        opacity: 0;
    }

    body:has(#layout_navbar_toggle:checked) .layout_navbar_hamburger div:nth-child(3) {
        transform: translateY(calc(-1 * (var(--layout-burger-height) + var(--layout-burger-gap)))) rotate(-45deg);
    }
}

/* We use layout_content_container because we can't overwrite these values on body because of the reset.css. */
.layout_content_container {
    min-height: calc(100vh - var(--layout-nav-height) - var(--layout-footer-height));
}

/* We set these on the body because reset.css doesn't set these and setting them on the body is nicer. */
body {
    background-color: var(--color-body-bg);
    color: var(--color-body-text);
}

.layout_content {
    max-width: 1200px;
    margin: auto;
}

.layout_footer {
    height: var(--layout-footer-height);

    background-color: var(--color-navbar-bg);

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.layout_footer a {
    padding: 5px 10px;
    border-radius: 3px;
    color: var(--color-navbar-text);
    text-decoration: none;
}

.layout_footer a:hover {
    background: var(--color-navbar-highlight);
}

@media (max-width: 900px) {
    :root {
        --layout-footer-height: 140px;
    }

    .layout_footer {
        flex-direction: column;
    }
}

.layout_hero {
    position: relative;
}

.layout_hero img {
    width: 100%;
    height: calc(var(--layout-hero-fraction) * (100vh - var(--layout-nav-height)));
    object-fit: cover;
    object-position: var(--layout-object-fit-h) var(--layout-object-fit-v);
}

.layout_hero_children {
    position: absolute;
    bottom: 0;
    left: 0;
}

/* end of styles/layout.module.css */

/* start of styles/image.module.css */
.image_picture img {
    /* The default inline would add a few pixels of space below the image. */
    display: block;
    /* TODO: this makes it hard to overwrite */
    width: 100%;
    height: 100%;
}

/* end of styles/image.module.css */
