.button {
    border-style: solid;
    border-color: var(--color-card-border);
    border-radius: 3px;
    border-width: 2px;
    background-color: var(--color-card-bg);
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.button a {
    color: var(--color-body-text);
    text-decoration: none;
    font-size: 24px;
}
