.cards_list {
    margin-top: 20px;
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* Don't specify grid-template-rows so that each row has it's own height. */
    grid-auto-flow: row;
    column-gap: 20px;
    row-gap: 20px;
}

.cards_list_card {
    border-style: solid;
    border-color: var(--color-card-border);
    border-radius: 3px;
    border-width: 2px;
    background-color: var(--color-card-bg);
    padding: 10px;

    text-decoration: none;
    color: var(--color-body-text);
}

.cards_list_card h1 {
    margin-top: 5px;
    font-size: 30px;
}

.cards_list_card h2 {
    margin-top: 2px;
    font-size: 20px;
}

.cards_list_card hr {
    border-style: solid;
    border-color: var(--color-card-border);
    border-width: 1px;
    border-radius: 3px;
}

.cards_list_card img {
    width: 100%;
    height: auto;
}

@media (max-width: 900px) {
    .cards_list {
        grid-template-columns: 1fr;
    }
}
