@media (prefers-color-scheme: light) {
    :root {
        --color-navbar-bg: darkgrey;
        --color-navbar-text: #1f2328;
        --color-navbar-highlight: lightgrey;
        --color-body-bg: #ffffff;
        --color-body-text: #1f2328;
        --color-hero-text: white;
        color-scheme: light;
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --color-navbar-bg: brown;
        --color-navbar-text: #f0f6fc;
        --color-navbar-highlight: lightgrey;
        --color-body-bg: #0d1117;
        --color-body-text: #f0f6fc;
        --color-hero-text: white;
        color-scheme: dark;
    }
}
