
/* start of styles/index_page.module.css */
.index_page_title {
    padding-left: 20px;
    padding-right: 20px;
    max-width: 1200px;
    margin-bottom: 14vh;
    margin-left: auto;
    margin-right: auto;
    color: var(--color-hero-text);
    font-family: LiberationMono, monospace;
}

.index_page_title h1 {
    font-size: clamp(0px, 12vw, 70px);
}

.index_page_title h2 {
    margin-top: 5px;
    font-size: clamp(0px, 6vw, 35px);
}

.index_page_links {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    gap: 5px;
}

.index_page_links a {
    color: var(--color-hero-text);
    text-decoration: none;
    font-size: 30px;
}

.index_page_links a:hover span {
    border-bottom-style: solid;
    border-bottom-color: var(--color-hero-text);
    border-bottom-width: 2px;
}

.index_page_links svg {
    fill: var(--color-hero-text);
    height: 30px;
    width: auto;
    margin-bottom: -8px;
    margin-right: 5px;
}

/* end of styles/index_page.module.css */

/* start of styles/photo_list.module.css */
.photos_list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.photos_list_card {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: auto;
}

.photos_list_card img {
    width: 100%;
    max-width: var(--layout-content-width);
    height: 300px;
    /* contain doesn't look so bad, either. */
    /* It uses the nicely blurry background to fill the space. */
    /* cover is the other option. */
    object-fit: contain;
}

/* end of styles/photo_list.module.css */

/* start of styles/photo_page.module.css */
.photo_page {
    display: flex;
    flex-direction: column;
    align-items: center;
    --photo-page-padding: 20px;
    padding-bottom: var(--photo-page-padding);
    padding-top: var(--photo-page-padding);
}

.photo_page img {
    max-width: var(--layout-content-width);
    max-height: calc(var(--layout-content-height) + var(--layout-footer-height) - 2 * var(--photo-page-padding));
    width: auto;
    height: 100%;
}

/* end of styles/photo_page.module.css */
