
/* start of styles/index_page.module.css */
.index_page_div {
    background-color: red;
}

/* end of styles/index_page.module.css */

/* start of styles/articles_list.module.css */

/* end of styles/articles_list.module.css */

/* start of styles/article_card.module.css */

/* end of styles/article_card.module.css */
