
/* start of styles/index_page.module.css */
.index_page_div {
    background-color: red;
}

/* end of styles/index_page.module.css */

/* start of styles/photo_list.module.css */
.photos_list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 16px;
}

.photos_list_card {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: auto;
}

.photos_list_card img {
    width: 100%;
    max-width: var(--layout-content-width);
    height: 300px;
    /* contain doesn't look so bad, either. */
    /* It uses the nicely blurry background to fill the space. */
    /* cover is the other option. */
    object-fit: contain;
}

/* end of styles/photo_list.module.css */

/* start of styles/photography_page.module.css */
.photography_page_list {
    margin-top: 16px;
    margin-bottom: 16px;
}

/* end of styles/photography_page.module.css */

/* start of styles/photo_page.module.css */
.photo_page {
    display: flex;
    flex-direction: column;
    align-items: center;
    --photo-page-padding: 20px;
    padding-bottom: var(--photo-page-padding);
    padding-top: var(--photo-page-padding);
}

.photo_page img {
    max-width: var(--layout-content-width);
    max-height: calc(var(--layout-content-height) + var(--layout-footer-height) - 2 * var(--photo-page-padding));
    width: auto;
    height: 100%;
}

/* end of styles/photo_page.module.css */
