@font-face {
    font-family: LiberationSans;
    src: url("/styles/fonts/LiberationSans-Regular-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: LiberationSans;
    src: url("/styles/fonts/LiberationSans-Bold-webfont.woff") format("woff");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: LiberationSans;
    src: url("/styles/fonts/LiberationSans-Italic-webfont.woff") format("woff");
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: LiberationSans;
    src: url("/styles/fonts/LiberationSans-BoldItalic-webfont.woff") format("woff");
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: LiberationMono;
    src: url("/styles/fonts/LiberationMono-Regular-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: LiberationMono;
    src: url("/styles/fonts/LiberationMono-Bold-webfont.woff") format("woff");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: LiberationMono;
    src: url("/styles/fonts/LiberationMono-Italic-webfont.woff") format("woff");
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: LiberationMono;
    src: url("/styles/fonts/LiberationMono-BoldItalic-webfont.woff") format("woff");
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}
