:root {
    --layout-nav-height: 50px;
    --layout-nav-top-padding: 10px;
    --layout-nav-bottom-padding: 10px;

    --layout-burger-gap: 8px;
    --layout-burger-width: 30px;
    --layout-burger-height: 5px;
}

.layout_navbar {
    height: calc(var(--layout-nav-height) - var(--layout-nav-top-padding) - var(--layout-nav-bottom-padding));
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: var(--layout-nav-top-padding);
    padding-bottom: var(--layout-nav-top-padding);
}

.layout_navbar_left {}

.layout_navbar_right {
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
}

.layout_navbar_right input {
    display: none;
}

.layout_navbar_hamburger {
    display: none;
    flex-direction: column;
    gap: var(--layout-burger-gap);
    cursor: pointer;
}

.layout_navbar_hamburger div {
    width: var(--layout-burger-width);
    height: var(--layout-burger-height);
    border-radius: 3px;
    background-color: var(--color-navbar-text);
    transition: 0.3s;
}

.layout_transient_space {
    display: none;
    height: calc(100vh - var(--layout-nav-height));

    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.layout_transient_navigation {
    max-width: 100px;

    display: flex;
    flex-direction: column;
    gap: 30px;
}

.layout_transient_navigation a:nth-child(2n) {
    text-align: right;
}

.layout_transient_navigation a {
    align-items: center;
}

@media (max-width: 768px) {
    .layout_navbar_hamburger {
        display: flex;
    }

    .layout_navbar_right a {
        display: none;
    }

    body:has(#layout_navbar_toggle:checked) .layout_transient_space {
        display: flex;
    }

    body:has(#layout_navbar_toggle:checked) .layout_children {
        display: none;
    }

    body:has(#layout_navbar_toggle:checked) .layout_navbar_hamburger div:nth-child(1) {
        transform: translateY(calc((var(--layout-burger-height) + var(--layout-burger-gap)))) rotate(45deg);
    }

    body:has(#layout_navbar_toggle:checked) .layout_navbar_hamburger div:nth-child(2) {
        transform: rotate(45deg);
        opacity: 0;
    }

    body:has(#layout_navbar_toggle:checked) .layout_navbar_hamburger div:nth-child(3) {
        transform: translateY(calc(-1 * (var(--layout-burger-height) + var(--layout-burger-gap)))) rotate(-45deg);
    }
}
