/* Copyright 2025 Christopher Besch */
/* This file is published under the MIT license: */

/* Permission is hereby granted, free of charge, to any person obtaining a copy */
/* of this software and associated documentation files (the "Software"), to deal */
/* in the Software without restriction, including without limitation the rights */
/* to use, copy, modify, merge, publish, distribute, sublicense, and/or sell */
/* copies of the Software, and to permit persons to whom the Software is */
/* furnished to do so, subject to the following conditions: */

/* The above copyright notice and this permission notice shall be included in all */
/* copies or substantial portions of the Software. */

/* THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR */
/* IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, */
/* FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE */
/* AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER */
/* LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, */
/* OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE */
/* SOFTWARE. */

.markdown_spacer {
    content: "";
    display: table;
    clear: both;
}

.markdown_body {
    text-align: justify;
    margin-top: 20px;
}

.markdown_body h1,
.markdown_body h2,
.markdown_body h3,
.markdown_body h4,
.markdown_body h5,
.markdown_body h6 {
    text-align: left;
}

.markdown_body ul {
    list-style: disc;
}

.markdown_body ol {
    list-style: decimal;
}

.markdown_heading_a:hover {
    /* Overwrite the default .markdown_body a underline */
    /* Unfortunately we need !important for this. */
    text-decoration: none !important;
}

.markdown_heading_a svg {
    scale: 1.5;
    padding-bottom: 2px;
    padding-right: 7px;
    fill: var(--color-body-text);
}

/* https://stackoverflow.com/questions/11122249/scale-iframe-css-width-100-like-an-image */
.markdown_iframe_wrapper {
    position: relative;
    padding-top: 56.25%;
    width: 100%;
}

.markdown_body em {
    /* Somehow this isn't part of the theme below. */
    font-style: italic;
}

.markdown_iframe_wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

@media (prefers-color-scheme: light) {
    /* following code copied and slightly modified with `:%s/markdown-body/markdown_body/g` from https://github.com/sindresorhus/github-markdown-css */
    /* changes: */
    /* .markdown_body { */
    /*     font-size: 18px; */
    /*     background-color: var(--color-body-bg); */
    /*     color: var(--color-body-text); */
    /*     remove margin: 0; */
    /* } */
    /* .markdown_body a { */
    /*     color: var(--color-text-link); */
    /* } */

    /* MIT License */

    /* Copyright (c) Sindre Sorhus <sindresorhus@gmail.com> (https://sindresorhus.com) */

    /* Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions: */

    /* The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software. */

    /* THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE. */

    /* light */
    .markdown_body {
        color-scheme: light;
        -ms-text-size-adjust: 100%;
        -webkit-text-size-adjust: 100%;
        /* margin: 0; */
        color: var(--color-body-text);
        background-color: var(--color-body-bg);
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
        font-size: 18px;
        line-height: 1.5;
        word-wrap: break-word;
    }

    .markdown_body .octicon {
        display: inline-block;
        fill: currentColor;
        vertical-align: text-bottom;
    }

    .markdown_body h1:hover .anchor .octicon-link:before,
    .markdown_body h2:hover .anchor .octicon-link:before,
    .markdown_body h3:hover .anchor .octicon-link:before,
    .markdown_body h4:hover .anchor .octicon-link:before,
    .markdown_body h5:hover .anchor .octicon-link:before,
    .markdown_body h6:hover .anchor .octicon-link:before {
        width: 16px;
        height: 16px;
        content: ' ';
        display: inline-block;
        background-color: currentColor;
        -webkit-mask-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' version='1.1' aria-hidden='true'><path fill-rule='evenodd' d='M7.775 3.275a.75.75 0 001.06 1.06l1.25-1.25a2 2 0 112.83 2.83l-2.5 2.5a2 2 0 01-2.83 0 .75.75 0 00-1.06 1.06 3.5 3.5 0 004.95 0l2.5-2.5a3.5 3.5 0 00-4.95-4.95l-1.25 1.25zm-4.69 9.64a2 2 0 010-2.83l2.5-2.5a2 2 0 012.83 0 .75.75 0 001.06-1.06 3.5 3.5 0 00-4.95 0l-2.5 2.5a3.5 3.5 0 004.95 4.95l1.25-1.25a.75.75 0 00-1.06-1.06l-1.25 1.25a2 2 0 01-2.83 0z'></path></svg>");
        mask-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' version='1.1' aria-hidden='true'><path fill-rule='evenodd' d='M7.775 3.275a.75.75 0 001.06 1.06l1.25-1.25a2 2 0 112.83 2.83l-2.5 2.5a2 2 0 01-2.83 0 .75.75 0 00-1.06 1.06 3.5 3.5 0 004.95 0l2.5-2.5a3.5 3.5 0 00-4.95-4.95l-1.25 1.25zm-4.69 9.64a2 2 0 010-2.83l2.5-2.5a2 2 0 012.83 0 .75.75 0 001.06-1.06 3.5 3.5 0 00-4.95 0l-2.5 2.5a3.5 3.5 0 004.95 4.95l1.25-1.25a.75.75 0 00-1.06-1.06l-1.25 1.25a2 2 0 01-2.83 0z'></path></svg>");
    }

    .markdown_body details,
    .markdown_body figcaption,
    .markdown_body figure {
        display: block;
    }

    .markdown_body summary {
        display: list-item;
    }

    .markdown_body [hidden] {
        display: none !important;
    }

    .markdown_body a {
        background-color: transparent;
        color: var(--color-text-link);
        text-decoration: none;
    }

    .markdown_body abbr[title] {
        border-bottom: none;
        -webkit-text-decoration: underline dotted;
        text-decoration: underline dotted;
    }

    .markdown_body b,
    .markdown_body strong {
        font-weight: 600;
    }

    .markdown_body dfn {
        font-style: italic;
    }

    .markdown_body h1 {
        margin: .67em 0;
        font-weight: 600;
        padding-bottom: .3em;
        font-size: 2em;
        border-bottom: 1px solid #d1d9e0b3;
    }

    .markdown_body mark {
        background-color: #fff8c5;
        color: #1f2328;
    }

    .markdown_body small {
        font-size: 90%;
    }

    .markdown_body sub,
    .markdown_body sup {
        font-size: 75%;
        line-height: 0;
        position: relative;
        vertical-align: baseline;
    }

    .markdown_body sub {
        bottom: -0.25em;
    }

    .markdown_body sup {
        top: -0.5em;
    }

    .markdown_body img {
        border-style: none;
        max-width: 100%;
        box-sizing: content-box;
    }

    .markdown_body code,
    .markdown_body kbd,
    .markdown_body pre,
    .markdown_body samp {
        font-family: monospace;
        font-size: 1em;
    }

    .markdown_body figure {
        margin: 1em 2.5rem;
    }

    .markdown_body hr {
        box-sizing: content-box;
        overflow: hidden;
        background: transparent;
        border-bottom: 1px solid #d1d9e0b3;
        height: .25em;
        padding: 0;
        margin: 1.5rem 0;
        background-color: #d1d9e0;
        border: 0;
    }

    .markdown_body input {
        font: inherit;
        margin: 0;
        overflow: visible;
        font-family: inherit;
        font-size: inherit;
        line-height: inherit;
    }

    .markdown_body [type=button],
    .markdown_body [type=reset],
    .markdown_body [type=submit] {
        -webkit-appearance: button;
        appearance: button;
    }

    .markdown_body [type=checkbox],
    .markdown_body [type=radio] {
        box-sizing: border-box;
        padding: 0;
    }

    .markdown_body [type=number]::-webkit-inner-spin-button,
    .markdown_body [type=number]::-webkit-outer-spin-button {
        height: auto;
    }

    .markdown_body [type=search]::-webkit-search-cancel-button,
    .markdown_body [type=search]::-webkit-search-decoration {
        -webkit-appearance: none;
        appearance: none;
    }

    .markdown_body ::-webkit-input-placeholder {
        color: inherit;
        opacity: .54;
    }

    .markdown_body ::-webkit-file-upload-button {
        -webkit-appearance: button;
        appearance: button;
        font: inherit;
    }

    .markdown_body a:hover {
        text-decoration: underline;
    }

    .markdown_body ::placeholder {
        color: #59636e;
        opacity: 1;
    }

    .markdown_body hr::before {
        display: table;
        content: "";
    }

    .markdown_body hr::after {
        display: table;
        clear: both;
        content: "";
    }

    .markdown_body table {
        border-spacing: 0;
        border-collapse: collapse;
        display: block;
        width: max-content;
        max-width: 100%;
        overflow: auto;
        font-variant: tabular-nums;
    }

    .markdown_body td,
    .markdown_body th {
        padding: 0;
    }

    .markdown_body details summary {
        cursor: pointer;
    }

    .markdown_body a:focus,
    .markdown_body [role=button]:focus,
    .markdown_body input[type=radio]:focus,
    .markdown_body input[type=checkbox]:focus {
        outline: 2px solid #0969da;
        outline-offset: -2px;
        box-shadow: none;
    }

    .markdown_body a:focus:not(:focus-visible),
    .markdown_body [role=button]:focus:not(:focus-visible),
    .markdown_body input[type=radio]:focus:not(:focus-visible),
    .markdown_body input[type=checkbox]:focus:not(:focus-visible) {
        outline: solid 1px transparent;
    }

    .markdown_body a:focus-visible,
    .markdown_body [role=button]:focus-visible,
    .markdown_body input[type=radio]:focus-visible,
    .markdown_body input[type=checkbox]:focus-visible {
        outline: 2px solid #0969da;
        outline-offset: -2px;
        box-shadow: none;
    }

    .markdown_body a:not([class]):focus,
    .markdown_body a:not([class]):focus-visible,
    .markdown_body input[type=radio]:focus,
    .markdown_body input[type=radio]:focus-visible,
    .markdown_body input[type=checkbox]:focus,
    .markdown_body input[type=checkbox]:focus-visible {
        outline-offset: 0;
    }

    .markdown_body kbd {
        display: inline-block;
        padding: 0.25rem;
        font: 11px ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas, Liberation Mono, monospace;
        line-height: 10px;
        color: #1f2328;
        vertical-align: middle;
        background-color: #f6f8fa;
        border: solid 1px #d1d9e0b3;
        border-bottom-color: #d1d9e0b3;
        border-radius: 6px;
        box-shadow: inset 0 -1px 0 #d1d9e0b3;
    }

    .markdown_body h1,
    .markdown_body h2,
    .markdown_body h3,
    .markdown_body h4,
    .markdown_body h5,
    .markdown_body h6 {
        margin-top: 1.5rem;
        margin-bottom: 1rem;
        font-weight: 600;
        line-height: 1.25;
    }

    .markdown_body h2 {
        font-weight: 600;
        padding-bottom: .3em;
        font-size: 1.5em;
        border-bottom: 1px solid #d1d9e0b3;
    }

    .markdown_body h3 {
        font-weight: 600;
        font-size: 1.25em;
    }

    .markdown_body h4 {
        font-weight: 600;
        font-size: 1em;
    }

    .markdown_body h5 {
        font-weight: 600;
        font-size: .875em;
    }

    .markdown_body h6 {
        font-weight: 600;
        font-size: .85em;
        color: #59636e;
    }

    .markdown_body p {
        margin-top: 0;
        margin-bottom: 10px;
    }

    .markdown_body blockquote {
        margin: 0;
        padding: 0 1em;
        color: #59636e;
        border-left: .25em solid #d1d9e0;
    }

    .markdown_body ul,
    .markdown_body ol {
        margin-top: 0;
        margin-bottom: 0;
        padding-left: 2em;
    }

    .markdown_body ol ol,
    .markdown_body ul ol {
        list-style-type: lower-roman;
    }

    .markdown_body ul ul ol,
    .markdown_body ul ol ol,
    .markdown_body ol ul ol,
    .markdown_body ol ol ol {
        list-style-type: lower-alpha;
    }

    .markdown_body dd {
        margin-left: 0;
    }

    .markdown_body tt,
    .markdown_body code,
    .markdown_body samp {
        font-family: ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas, Liberation Mono, monospace;
        font-size: 12px;
    }

    .markdown_body pre {
        margin-top: 0;
        margin-bottom: 0;
        font-family: ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas, Liberation Mono, monospace;
        font-size: 12px;
        word-wrap: normal;
    }

    .markdown_body .octicon {
        display: inline-block;
        overflow: visible !important;
        vertical-align: text-bottom;
        fill: currentColor;
    }

    .markdown_body input::-webkit-outer-spin-button,
    .markdown_body input::-webkit-inner-spin-button {
        margin: 0;
        appearance: none;
    }

    .markdown_body .mr-2 {
        margin-right: 0.5rem !important;
    }

    .markdown_body::before {
        display: table;
        content: "";
    }

    .markdown_body::after {
        display: table;
        clear: both;
        content: "";
    }

    .markdown_body>*:first-child {
        margin-top: 0 !important;
    }

    .markdown_body>*:last-child {
        margin-bottom: 0 !important;
    }

    .markdown_body a:not([href]) {
        color: inherit;
        text-decoration: none;
    }

    .markdown_body .absent {
        color: #d1242f;
    }

    .markdown_body .anchor {
        float: left;
        padding-right: 0.25rem;
        margin-left: -20px;
        line-height: 1;
    }

    .markdown_body .anchor:focus {
        outline: none;
    }

    .markdown_body p,
    .markdown_body blockquote,
    .markdown_body ul,
    .markdown_body ol,
    .markdown_body dl,
    .markdown_body table,
    .markdown_body pre,
    .markdown_body details {
        margin-top: 0;
        margin-bottom: 1rem;
    }

    .markdown_body blockquote>:first-child {
        margin-top: 0;
    }

    .markdown_body blockquote>:last-child {
        margin-bottom: 0;
    }

    .markdown_body h1 .octicon-link,
    .markdown_body h2 .octicon-link,
    .markdown_body h3 .octicon-link,
    .markdown_body h4 .octicon-link,
    .markdown_body h5 .octicon-link,
    .markdown_body h6 .octicon-link {
        color: #1f2328;
        vertical-align: middle;
        visibility: hidden;
    }

    .markdown_body h1:hover .anchor,
    .markdown_body h2:hover .anchor,
    .markdown_body h3:hover .anchor,
    .markdown_body h4:hover .anchor,
    .markdown_body h5:hover .anchor,
    .markdown_body h6:hover .anchor {
        text-decoration: none;
    }

    .markdown_body h1:hover .anchor .octicon-link,
    .markdown_body h2:hover .anchor .octicon-link,
    .markdown_body h3:hover .anchor .octicon-link,
    .markdown_body h4:hover .anchor .octicon-link,
    .markdown_body h5:hover .anchor .octicon-link,
    .markdown_body h6:hover .anchor .octicon-link {
        visibility: visible;
    }

    .markdown_body h1 tt,
    .markdown_body h1 code,
    .markdown_body h2 tt,
    .markdown_body h2 code,
    .markdown_body h3 tt,
    .markdown_body h3 code,
    .markdown_body h4 tt,
    .markdown_body h4 code,
    .markdown_body h5 tt,
    .markdown_body h5 code,
    .markdown_body h6 tt,
    .markdown_body h6 code {
        padding: 0 .2em;
        font-size: inherit;
    }

    .markdown_body summary h1,
    .markdown_body summary h2,
    .markdown_body summary h3,
    .markdown_body summary h4,
    .markdown_body summary h5,
    .markdown_body summary h6 {
        display: inline-block;
    }

    .markdown_body summary h1 .anchor,
    .markdown_body summary h2 .anchor,
    .markdown_body summary h3 .anchor,
    .markdown_body summary h4 .anchor,
    .markdown_body summary h5 .anchor,
    .markdown_body summary h6 .anchor {
        margin-left: -40px;
    }

    .markdown_body summary h1,
    .markdown_body summary h2 {
        padding-bottom: 0;
        border-bottom: 0;
    }

    .markdown_body ul.no-list,
    .markdown_body ol.no-list {
        padding: 0;
        list-style-type: none;
    }

    .markdown_body ol[type="a s"] {
        list-style-type: lower-alpha;
    }

    .markdown_body ol[type="A s"] {
        list-style-type: upper-alpha;
    }

    .markdown_body ol[type="i s"] {
        list-style-type: lower-roman;
    }

    .markdown_body ol[type="I s"] {
        list-style-type: upper-roman;
    }

    .markdown_body ol[type="1"] {
        list-style-type: decimal;
    }

    .markdown_body div>ol:not([type]) {
        list-style-type: decimal;
    }

    .markdown_body ul ul,
    .markdown_body ul ol,
    .markdown_body ol ol,
    .markdown_body ol ul {
        margin-top: 0;
        margin-bottom: 0;
    }

    .markdown_body li>p {
        margin-top: 1rem;
    }

    .markdown_body li+li {
        margin-top: .25em;
    }

    .markdown_body dl {
        padding: 0;
    }

    .markdown_body dl dt {
        padding: 0;
        margin-top: 1rem;
        font-size: 1em;
        font-style: italic;
        font-weight: 600;
    }

    .markdown_body dl dd {
        padding: 0 1rem;
        margin-bottom: 1rem;
    }

    .markdown_body table th {
        font-weight: 600;
    }

    .markdown_body table th,
    .markdown_body table td {
        padding: 6px 13px;
        border: 1px solid #d1d9e0;
    }

    .markdown_body table td>:last-child {
        margin-bottom: 0;
    }

    .markdown_body table tr {
        background-color: #ffffff;
        border-top: 1px solid #d1d9e0b3;
    }

    .markdown_body table tr:nth-child(2n) {
        background-color: #f6f8fa;
    }

    .markdown_body table img {
        background-color: transparent;
    }

    .markdown_body img[align=right] {
        padding-left: 20px;
    }

    .markdown_body img[align=left] {
        padding-right: 20px;
    }

    .markdown_body .emoji {
        max-width: none;
        vertical-align: text-top;
        background-color: transparent;
    }

    .markdown_body span.frame {
        display: block;
        overflow: hidden;
    }

    .markdown_body span.frame>span {
        display: block;
        float: left;
        width: auto;
        padding: 7px;
        margin: 13px 0 0;
        overflow: hidden;
        border: 1px solid #d1d9e0;
    }

    .markdown_body span.frame span img {
        display: block;
        float: left;
    }

    .markdown_body span.frame span span {
        display: block;
        padding: 5px 0 0;
        clear: both;
        color: #1f2328;
    }

    .markdown_body span.align-center {
        display: block;
        overflow: hidden;
        clear: both;
    }

    .markdown_body span.align-center>span {
        display: block;
        margin: 13px auto 0;
        overflow: hidden;
        text-align: center;
    }

    .markdown_body span.align-center span img {
        margin: 0 auto;
        text-align: center;
    }

    .markdown_body span.align-right {
        display: block;
        overflow: hidden;
        clear: both;
    }

    .markdown_body span.align-right>span {
        display: block;
        margin: 13px 0 0;
        overflow: hidden;
        text-align: right;
    }

    .markdown_body span.align-right span img {
        margin: 0;
        text-align: right;
    }

    .markdown_body span.float-left {
        display: block;
        float: left;
        margin-right: 13px;
        overflow: hidden;
    }

    .markdown_body span.float-left span {
        margin: 13px 0 0;
    }

    .markdown_body span.float-right {
        display: block;
        float: right;
        margin-left: 13px;
        overflow: hidden;
    }

    .markdown_body span.float-right>span {
        display: block;
        margin: 13px auto 0;
        overflow: hidden;
        text-align: right;
    }

    .markdown_body code,
    .markdown_body tt {
        padding: .2em .4em;
        margin: 0;
        font-size: 85%;
        white-space: break-spaces;
        background-color: #818b981f;
        border-radius: 6px;
    }

    .markdown_body code br,
    .markdown_body tt br {
        display: none;
    }

    .markdown_body del code {
        text-decoration: inherit;
    }

    .markdown_body samp {
        font-size: 85%;
    }

    .markdown_body pre code {
        font-size: 100%;
    }

    .markdown_body pre>code {
        padding: 0;
        margin: 0;
        word-break: normal;
        white-space: pre;
        background: transparent;
        border: 0;
    }

    .markdown_body .highlight {
        margin-bottom: 1rem;
    }

    .markdown_body .highlight pre {
        margin-bottom: 0;
        word-break: normal;
    }

    .markdown_body .highlight pre,
    .markdown_body pre {
        padding: 1rem;
        overflow: auto;
        font-size: 85%;
        line-height: 1.45;
        color: #1f2328;
        background-color: #f6f8fa;
        border-radius: 6px;
    }

    .markdown_body pre code,
    .markdown_body pre tt {
        display: inline;
        max-width: auto;
        padding: 0;
        margin: 0;
        overflow: visible;
        line-height: inherit;
        word-wrap: normal;
        background-color: transparent;
        border: 0;
    }

    .markdown_body .csv-data td,
    .markdown_body .csv-data th {
        padding: 5px;
        overflow: hidden;
        font-size: 12px;
        line-height: 1;
        text-align: left;
        white-space: nowrap;
    }

    .markdown_body .csv-data .blob-num {
        padding: 10px 0.5rem 9px;
        text-align: right;
        background: #ffffff;
        border: 0;
    }

    .markdown_body .csv-data tr {
        border-top: 0;
    }

    .markdown_body .csv-data th {
        font-weight: 600;
        background: #f6f8fa;
        border-top: 0;
    }

    .markdown_body [data-footnote-ref]::before {
        content: "[";
    }

    .markdown_body [data-footnote-ref]::after {
        content: "]";
    }

    .markdown_body .footnotes {
        font-size: 12px;
        color: #59636e;
        border-top: 1px solid #d1d9e0;
    }

    .markdown_body .footnotes ol {
        padding-left: 1rem;
    }

    .markdown_body .footnotes ol ul {
        display: inline-block;
        padding-left: 1rem;
        margin-top: 1rem;
    }

    .markdown_body .footnotes li {
        position: relative;
    }

    .markdown_body .footnotes li:target::before {
        position: absolute;
        top: calc(0.5rem*-1);
        right: calc(0.5rem*-1);
        bottom: calc(0.5rem*-1);
        left: calc(1.5rem*-1);
        pointer-events: none;
        content: "";
        border: 2px solid #0969da;
        border-radius: 6px;
    }

    .markdown_body .footnotes li:target {
        color: #1f2328;
    }

    .markdown_body .footnotes .data-footnote-backref g-emoji {
        font-family: monospace;
    }

    .markdown_body body:has(:modal) {
        padding-right: var(--dialog-scrollgutter) !important;
    }

    .markdown_body .pl-c {
        color: #59636e;
    }

    .markdown_body .pl-c1,
    .markdown_body .pl-s .pl-v {
        color: #0550ae;
    }

    .markdown_body .pl-e,
    .markdown_body .pl-en {
        color: #6639ba;
    }

    .markdown_body .pl-smi,
    .markdown_body .pl-s .pl-s1 {
        color: #1f2328;
    }

    .markdown_body .pl-ent {
        color: #0550ae;
    }

    .markdown_body .pl-k {
        color: #cf222e;
    }

    .markdown_body .pl-s,
    .markdown_body .pl-pds,
    .markdown_body .pl-s .pl-pse .pl-s1,
    .markdown_body .pl-sr,
    .markdown_body .pl-sr .pl-cce,
    .markdown_body .pl-sr .pl-sre,
    .markdown_body .pl-sr .pl-sra {
        color: #0a3069;
    }

    .markdown_body .pl-v,
    .markdown_body .pl-smw {
        color: #953800;
    }

    .markdown_body .pl-bu {
        color: #82071e;
    }

    .markdown_body .pl-ii {
        color: #f6f8fa;
        background-color: #82071e;
    }

    .markdown_body .pl-c2 {
        color: #f6f8fa;
        background-color: #cf222e;
    }

    .markdown_body .pl-sr .pl-cce {
        font-weight: bold;
        color: #116329;
    }

    .markdown_body .pl-ml {
        color: #3b2300;
    }

    .markdown_body .pl-mh,
    .markdown_body .pl-mh .pl-en,
    .markdown_body .pl-ms {
        font-weight: bold;
        color: #0550ae;
    }

    .markdown_body .pl-mi {
        font-style: italic;
        color: #1f2328;
    }

    .markdown_body .pl-mb {
        font-weight: bold;
        color: #1f2328;
    }

    .markdown_body .pl-md {
        color: #82071e;
        background-color: #ffebe9;
    }

    .markdown_body .pl-mi1 {
        color: #116329;
        background-color: #dafbe1;
    }

    .markdown_body .pl-mc {
        color: #953800;
        background-color: #ffd8b5;
    }

    .markdown_body .pl-mi2 {
        color: #d1d9e0;
        background-color: #0550ae;
    }

    .markdown_body .pl-mdr {
        font-weight: bold;
        color: #8250df;
    }

    .markdown_body .pl-ba {
        color: #59636e;
    }

    .markdown_body .pl-sg {
        color: #818b98;
    }

    .markdown_body .pl-corl {
        text-decoration: underline;
        color: #0a3069;
    }

    .markdown_body [role=button]:focus:not(:focus-visible),
    .markdown_body [role=tabpanel][tabindex="0"]:focus:not(:focus-visible),
    .markdown_body button:focus:not(:focus-visible),
    .markdown_body summary:focus:not(:focus-visible),
    .markdown_body a:focus:not(:focus-visible) {
        outline: none;
        box-shadow: none;
    }

    .markdown_body [tabindex="0"]:focus:not(:focus-visible),
    .markdown_body details-dialog:focus:not(:focus-visible) {
        outline: none;
    }

    .markdown_body g-emoji {
        display: inline-block;
        min-width: 1ch;
        font-family: "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
        font-size: 1em;
        font-style: normal !important;
        font-weight: 400;
        line-height: 1;
        vertical-align: -0.075em;
    }

    .markdown_body g-emoji img {
        width: 1em;
        height: 1em;
    }

    .markdown_body .task-list-item {
        list-style-type: none;
    }

    .markdown_body .task-list-item label {
        font-weight: 400;
    }

    .markdown_body .task-list-item.enabled label {
        cursor: pointer;
    }

    .markdown_body .task-list-item+.task-list-item {
        margin-top: 0.25rem;
    }

    .markdown_body .task-list-item .handle {
        display: none;
    }

    .markdown_body .task-list-item-checkbox {
        margin: 0 .2em .25em -1.4em;
        vertical-align: middle;
    }

    .markdown_body ul:dir(rtl) .task-list-item-checkbox {
        margin: 0 -1.6em .25em .2em;
    }

    .markdown_body ol:dir(rtl) .task-list-item-checkbox {
        margin: 0 -1.6em .25em .2em;
    }

    .markdown_body .contains-task-list:hover .task-list-item-convert-container,
    .markdown_body .contains-task-list:focus-within .task-list-item-convert-container {
        display: block;
        width: auto;
        height: 24px;
        overflow: visible;
        clip: auto;
    }

    .markdown_body ::-webkit-calendar-picker-indicator {
        filter: invert(50%);
    }

    .markdown_body .markdown-alert {
        padding: 0.5rem 1rem;
        margin-bottom: 1rem;
        color: inherit;
        border-left: .25em solid #d1d9e0;
    }

    .markdown_body .markdown-alert>:first-child {
        margin-top: 0;
    }

    .markdown_body .markdown-alert>:last-child {
        margin-bottom: 0;
    }

    .markdown_body .markdown-alert .markdown-alert-title {
        display: flex;
        font-weight: 500;
        align-items: center;
        line-height: 1;
    }

    .markdown_body .markdown-alert.markdown-alert-note {
        border-left-color: #0969da;
    }

    .markdown_body .markdown-alert.markdown-alert-note .markdown-alert-title {
        color: #0969da;
    }

    .markdown_body .markdown-alert.markdown-alert-important {
        border-left-color: #8250df;
    }

    .markdown_body .markdown-alert.markdown-alert-important .markdown-alert-title {
        color: #8250df;
    }

    .markdown_body .markdown-alert.markdown-alert-warning {
        border-left-color: #9a6700;
    }

    .markdown_body .markdown-alert.markdown-alert-warning .markdown-alert-title {
        color: #9a6700;
    }

    .markdown_body .markdown-alert.markdown-alert-tip {
        border-left-color: #1a7f37;
    }

    .markdown_body .markdown-alert.markdown-alert-tip .markdown-alert-title {
        color: #1a7f37;
    }

    .markdown_body .markdown-alert.markdown-alert-caution {
        border-left-color: #cf222e;
    }

    .markdown_body .markdown-alert.markdown-alert-caution .markdown-alert-title {
        color: #d1242f;
    }

    .markdown_body>*:first-child>.heading-element:first-child {
        margin-top: 0 !important;
    }

    .markdown_body .highlight pre:has(+.zeroclipboard-container) {
        min-height: 52px;
    }
}

@media (prefers-color-scheme: dark) {
    /* following code copied and slightly modified with `:%s/markdown-body/markdown_body/g` from https://github.com/sindresorhus/github-markdown-css */
    /* changes: */
    /* .markdown_body { */
    /*     font-size: 18px; */
    /*     background-color: var(--color-body-bg); */
    /*     color: var(--color-body-text); */
    /*     remove margin: 0; */
    /* } */
    /* .markdown_body a { */
    /*     color: var(--color-text-link); */
    /* } */

    /* MIT License */

    /* Copyright (c) Sindre Sorhus <sindresorhus@gmail.com> (https://sindresorhus.com) */

    /* Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions: */

    /* The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software. */

    /* THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE. */

    /* dark */
    .markdown_body {
        color-scheme: dark;
        -ms-text-size-adjust: 100%;
        -webkit-text-size-adjust: 100%;
        /* margin: 0; */
        color: var(--color-body-text);
        background-color: var(--color-body-bg);
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
        font-size: 18px;
        line-height: 1.5;
        word-wrap: break-word;
    }

    .markdown_body .octicon {
        display: inline-block;
        fill: currentColor;
        vertical-align: text-bottom;
    }

    .markdown_body h1:hover .anchor .octicon-link:before,
    .markdown_body h2:hover .anchor .octicon-link:before,
    .markdown_body h3:hover .anchor .octicon-link:before,
    .markdown_body h4:hover .anchor .octicon-link:before,
    .markdown_body h5:hover .anchor .octicon-link:before,
    .markdown_body h6:hover .anchor .octicon-link:before {
        width: 16px;
        height: 16px;
        content: ' ';
        display: inline-block;
        background-color: currentColor;
        -webkit-mask-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' version='1.1' aria-hidden='true'><path fill-rule='evenodd' d='M7.775 3.275a.75.75 0 001.06 1.06l1.25-1.25a2 2 0 112.83 2.83l-2.5 2.5a2 2 0 01-2.83 0 .75.75 0 00-1.06 1.06 3.5 3.5 0 004.95 0l2.5-2.5a3.5 3.5 0 00-4.95-4.95l-1.25 1.25zm-4.69 9.64a2 2 0 010-2.83l2.5-2.5a2 2 0 012.83 0 .75.75 0 001.06-1.06 3.5 3.5 0 00-4.95 0l-2.5 2.5a3.5 3.5 0 004.95 4.95l1.25-1.25a.75.75 0 00-1.06-1.06l-1.25 1.25a2 2 0 01-2.83 0z'></path></svg>");
        mask-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' version='1.1' aria-hidden='true'><path fill-rule='evenodd' d='M7.775 3.275a.75.75 0 001.06 1.06l1.25-1.25a2 2 0 112.83 2.83l-2.5 2.5a2 2 0 01-2.83 0 .75.75 0 00-1.06 1.06 3.5 3.5 0 004.95 0l2.5-2.5a3.5 3.5 0 00-4.95-4.95l-1.25 1.25zm-4.69 9.64a2 2 0 010-2.83l2.5-2.5a2 2 0 012.83 0 .75.75 0 001.06-1.06 3.5 3.5 0 00-4.95 0l-2.5 2.5a3.5 3.5 0 004.95 4.95l1.25-1.25a.75.75 0 00-1.06-1.06l-1.25 1.25a2 2 0 01-2.83 0z'></path></svg>");
    }

    .markdown_body details,
    .markdown_body figcaption,
    .markdown_body figure {
        display: block;
    }

    .markdown_body summary {
        display: list-item;
    }

    .markdown_body [hidden] {
        display: none !important;
    }

    .markdown_body a {
        background-color: transparent;
        color: var(--color-text-link);
        text-decoration: none;
    }

    .markdown_body abbr[title] {
        border-bottom: none;
        -webkit-text-decoration: underline dotted;
        text-decoration: underline dotted;
    }

    .markdown_body b,
    .markdown_body strong {
        font-weight: 600;
    }

    .markdown_body dfn {
        font-style: italic;
    }

    .markdown_body h1 {
        margin: .67em 0;
        font-weight: 600;
        padding-bottom: .3em;
        font-size: 2em;
        border-bottom: 1px solid #3d444db3;
    }

    .markdown_body mark {
        background-color: #bb800926;
        color: #f0f6fc;
    }

    .markdown_body small {
        font-size: 90%;
    }

    .markdown_body sub,
    .markdown_body sup {
        font-size: 75%;
        line-height: 0;
        position: relative;
        vertical-align: baseline;
    }

    .markdown_body sub {
        bottom: -0.25em;
    }

    .markdown_body sup {
        top: -0.5em;
    }

    .markdown_body img {
        border-style: none;
        max-width: 100%;
        box-sizing: content-box;
    }

    .markdown_body code,
    .markdown_body kbd,
    .markdown_body pre,
    .markdown_body samp {
        font-family: monospace;
        font-size: 1em;
    }

    .markdown_body figure {
        margin: 1em 2.5rem;
    }

    .markdown_body hr {
        box-sizing: content-box;
        overflow: hidden;
        background: transparent;
        border-bottom: 1px solid #3d444db3;
        height: .25em;
        padding: 0;
        margin: 1.5rem 0;
        background-color: #3d444d;
        border: 0;
    }

    .markdown_body input {
        font: inherit;
        margin: 0;
        overflow: visible;
        font-family: inherit;
        font-size: inherit;
        line-height: inherit;
    }

    .markdown_body [type=button],
    .markdown_body [type=reset],
    .markdown_body [type=submit] {
        -webkit-appearance: button;
        appearance: button;
    }

    .markdown_body [type=checkbox],
    .markdown_body [type=radio] {
        box-sizing: border-box;
        padding: 0;
    }

    .markdown_body [type=number]::-webkit-inner-spin-button,
    .markdown_body [type=number]::-webkit-outer-spin-button {
        height: auto;
    }

    .markdown_body [type=search]::-webkit-search-cancel-button,
    .markdown_body [type=search]::-webkit-search-decoration {
        -webkit-appearance: none;
        appearance: none;
    }

    .markdown_body ::-webkit-input-placeholder {
        color: inherit;
        opacity: .54;
    }

    .markdown_body ::-webkit-file-upload-button {
        -webkit-appearance: button;
        appearance: button;
        font: inherit;
    }

    .markdown_body a:hover {
        text-decoration: underline;
    }

    .markdown_body ::placeholder {
        color: #9198a1;
        opacity: 1;
    }

    .markdown_body hr::before {
        display: table;
        content: "";
    }

    .markdown_body hr::after {
        display: table;
        clear: both;
        content: "";
    }

    .markdown_body table {
        border-spacing: 0;
        border-collapse: collapse;
        display: block;
        width: max-content;
        max-width: 100%;
        overflow: auto;
        font-variant: tabular-nums;
    }

    .markdown_body td,
    .markdown_body th {
        padding: 0;
    }

    .markdown_body details summary {
        cursor: pointer;
    }

    .markdown_body a:focus,
    .markdown_body [role=button]:focus,
    .markdown_body input[type=radio]:focus,
    .markdown_body input[type=checkbox]:focus {
        outline: 2px solid #1f6feb;
        outline-offset: -2px;
        box-shadow: none;
    }

    .markdown_body a:focus:not(:focus-visible),
    .markdown_body [role=button]:focus:not(:focus-visible),
    .markdown_body input[type=radio]:focus:not(:focus-visible),
    .markdown_body input[type=checkbox]:focus:not(:focus-visible) {
        outline: solid 1px transparent;
    }

    .markdown_body a:focus-visible,
    .markdown_body [role=button]:focus-visible,
    .markdown_body input[type=radio]:focus-visible,
    .markdown_body input[type=checkbox]:focus-visible {
        outline: 2px solid #1f6feb;
        outline-offset: -2px;
        box-shadow: none;
    }

    .markdown_body a:not([class]):focus,
    .markdown_body a:not([class]):focus-visible,
    .markdown_body input[type=radio]:focus,
    .markdown_body input[type=radio]:focus-visible,
    .markdown_body input[type=checkbox]:focus,
    .markdown_body input[type=checkbox]:focus-visible {
        outline-offset: 0;
    }

    .markdown_body kbd {
        display: inline-block;
        padding: 0.25rem;
        font: 11px ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas, Liberation Mono, monospace;
        line-height: 10px;
        color: #f0f6fc;
        vertical-align: middle;
        background-color: #151b23;
        border: solid 1px #3d444db3;
        border-bottom-color: #3d444db3;
        border-radius: 6px;
        box-shadow: inset 0 -1px 0 #3d444db3;
    }

    .markdown_body h1,
    .markdown_body h2,
    .markdown_body h3,
    .markdown_body h4,
    .markdown_body h5,
    .markdown_body h6 {
        margin-top: 1.5rem;
        margin-bottom: 1rem;
        font-weight: 600;
        line-height: 1.25;
    }

    .markdown_body h2 {
        font-weight: 600;
        padding-bottom: .3em;
        font-size: 1.5em;
        border-bottom: 1px solid #3d444db3;
    }

    .markdown_body h3 {
        font-weight: 600;
        font-size: 1.25em;
    }

    .markdown_body h4 {
        font-weight: 600;
        font-size: 1em;
    }

    .markdown_body h5 {
        font-weight: 600;
        font-size: .875em;
    }

    .markdown_body h6 {
        font-weight: 600;
        font-size: .85em;
        color: #9198a1;
    }

    .markdown_body p {
        margin-top: 0;
        margin-bottom: 10px;
    }

    .markdown_body blockquote {
        margin: 0;
        padding: 0 1em;
        color: #9198a1;
        border-left: .25em solid #3d444d;
    }

    .markdown_body ul,
    .markdown_body ol {
        margin-top: 0;
        margin-bottom: 0;
        padding-left: 2em;
    }

    .markdown_body ol ol,
    .markdown_body ul ol {
        list-style-type: lower-roman;
    }

    .markdown_body ul ul ol,
    .markdown_body ul ol ol,
    .markdown_body ol ul ol,
    .markdown_body ol ol ol {
        list-style-type: lower-alpha;
    }

    .markdown_body dd {
        margin-left: 0;
    }

    .markdown_body tt,
    .markdown_body code,
    .markdown_body samp {
        font-family: ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas, Liberation Mono, monospace;
        font-size: 12px;
    }

    .markdown_body pre {
        margin-top: 0;
        margin-bottom: 0;
        font-family: ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas, Liberation Mono, monospace;
        font-size: 12px;
        word-wrap: normal;
    }

    .markdown_body .octicon {
        display: inline-block;
        overflow: visible !important;
        vertical-align: text-bottom;
        fill: currentColor;
    }

    .markdown_body input::-webkit-outer-spin-button,
    .markdown_body input::-webkit-inner-spin-button {
        margin: 0;
        appearance: none;
    }

    .markdown_body .mr-2 {
        margin-right: 0.5rem !important;
    }

    .markdown_body::before {
        display: table;
        content: "";
    }

    .markdown_body::after {
        display: table;
        clear: both;
        content: "";
    }

    .markdown_body>*:first-child {
        margin-top: 0 !important;
    }

    .markdown_body>*:last-child {
        margin-bottom: 0 !important;
    }

    .markdown_body a:not([href]) {
        color: inherit;
        text-decoration: none;
    }

    .markdown_body .absent {
        color: #f85149;
    }

    .markdown_body .anchor {
        float: left;
        padding-right: 0.25rem;
        margin-left: -20px;
        line-height: 1;
    }

    .markdown_body .anchor:focus {
        outline: none;
    }

    .markdown_body p,
    .markdown_body blockquote,
    .markdown_body ul,
    .markdown_body ol,
    .markdown_body dl,
    .markdown_body table,
    .markdown_body pre,
    .markdown_body details {
        margin-top: 0;
        margin-bottom: 1rem;
    }

    .markdown_body blockquote>:first-child {
        margin-top: 0;
    }

    .markdown_body blockquote>:last-child {
        margin-bottom: 0;
    }

    .markdown_body h1 .octicon-link,
    .markdown_body h2 .octicon-link,
    .markdown_body h3 .octicon-link,
    .markdown_body h4 .octicon-link,
    .markdown_body h5 .octicon-link,
    .markdown_body h6 .octicon-link {
        color: #f0f6fc;
        vertical-align: middle;
        visibility: hidden;
    }

    .markdown_body h1:hover .anchor,
    .markdown_body h2:hover .anchor,
    .markdown_body h3:hover .anchor,
    .markdown_body h4:hover .anchor,
    .markdown_body h5:hover .anchor,
    .markdown_body h6:hover .anchor {
        text-decoration: none;
    }

    .markdown_body h1:hover .anchor .octicon-link,
    .markdown_body h2:hover .anchor .octicon-link,
    .markdown_body h3:hover .anchor .octicon-link,
    .markdown_body h4:hover .anchor .octicon-link,
    .markdown_body h5:hover .anchor .octicon-link,
    .markdown_body h6:hover .anchor .octicon-link {
        visibility: visible;
    }

    .markdown_body h1 tt,
    .markdown_body h1 code,
    .markdown_body h2 tt,
    .markdown_body h2 code,
    .markdown_body h3 tt,
    .markdown_body h3 code,
    .markdown_body h4 tt,
    .markdown_body h4 code,
    .markdown_body h5 tt,
    .markdown_body h5 code,
    .markdown_body h6 tt,
    .markdown_body h6 code {
        padding: 0 .2em;
        font-size: inherit;
    }

    .markdown_body summary h1,
    .markdown_body summary h2,
    .markdown_body summary h3,
    .markdown_body summary h4,
    .markdown_body summary h5,
    .markdown_body summary h6 {
        display: inline-block;
    }

    .markdown_body summary h1 .anchor,
    .markdown_body summary h2 .anchor,
    .markdown_body summary h3 .anchor,
    .markdown_body summary h4 .anchor,
    .markdown_body summary h5 .anchor,
    .markdown_body summary h6 .anchor {
        margin-left: -40px;
    }

    .markdown_body summary h1,
    .markdown_body summary h2 {
        padding-bottom: 0;
        border-bottom: 0;
    }

    .markdown_body ul.no-list,
    .markdown_body ol.no-list {
        padding: 0;
        list-style-type: none;
    }

    .markdown_body ol[type="a s"] {
        list-style-type: lower-alpha;
    }

    .markdown_body ol[type="A s"] {
        list-style-type: upper-alpha;
    }

    .markdown_body ol[type="i s"] {
        list-style-type: lower-roman;
    }

    .markdown_body ol[type="I s"] {
        list-style-type: upper-roman;
    }

    .markdown_body ol[type="1"] {
        list-style-type: decimal;
    }

    .markdown_body div>ol:not([type]) {
        list-style-type: decimal;
    }

    .markdown_body ul ul,
    .markdown_body ul ol,
    .markdown_body ol ol,
    .markdown_body ol ul {
        margin-top: 0;
        margin-bottom: 0;
    }

    .markdown_body li>p {
        margin-top: 1rem;
    }

    .markdown_body li+li {
        margin-top: .25em;
    }

    .markdown_body dl {
        padding: 0;
    }

    .markdown_body dl dt {
        padding: 0;
        margin-top: 1rem;
        font-size: 1em;
        font-style: italic;
        font-weight: 600;
    }

    .markdown_body dl dd {
        padding: 0 1rem;
        margin-bottom: 1rem;
    }

    .markdown_body table th {
        font-weight: 600;
    }

    .markdown_body table th,
    .markdown_body table td {
        padding: 6px 13px;
        border: 1px solid #3d444d;
    }

    .markdown_body table td>:last-child {
        margin-bottom: 0;
    }

    .markdown_body table tr {
        background-color: #0d1117;
        border-top: 1px solid #3d444db3;
    }

    .markdown_body table tr:nth-child(2n) {
        background-color: #151b23;
    }

    .markdown_body table img {
        background-color: transparent;
    }

    .markdown_body img[align=right] {
        padding-left: 20px;
    }

    .markdown_body img[align=left] {
        padding-right: 20px;
    }

    .markdown_body .emoji {
        max-width: none;
        vertical-align: text-top;
        background-color: transparent;
    }

    .markdown_body span.frame {
        display: block;
        overflow: hidden;
    }

    .markdown_body span.frame>span {
        display: block;
        float: left;
        width: auto;
        padding: 7px;
        margin: 13px 0 0;
        overflow: hidden;
        border: 1px solid #3d444d;
    }

    .markdown_body span.frame span img {
        display: block;
        float: left;
    }

    .markdown_body span.frame span span {
        display: block;
        padding: 5px 0 0;
        clear: both;
        color: #f0f6fc;
    }

    .markdown_body span.align-center {
        display: block;
        overflow: hidden;
        clear: both;
    }

    .markdown_body span.align-center>span {
        display: block;
        margin: 13px auto 0;
        overflow: hidden;
        text-align: center;
    }

    .markdown_body span.align-center span img {
        margin: 0 auto;
        text-align: center;
    }

    .markdown_body span.align-right {
        display: block;
        overflow: hidden;
        clear: both;
    }

    .markdown_body span.align-right>span {
        display: block;
        margin: 13px 0 0;
        overflow: hidden;
        text-align: right;
    }

    .markdown_body span.align-right span img {
        margin: 0;
        text-align: right;
    }

    .markdown_body span.float-left {
        display: block;
        float: left;
        margin-right: 13px;
        overflow: hidden;
    }

    .markdown_body span.float-left span {
        margin: 13px 0 0;
    }

    .markdown_body span.float-right {
        display: block;
        float: right;
        margin-left: 13px;
        overflow: hidden;
    }

    .markdown_body span.float-right>span {
        display: block;
        margin: 13px auto 0;
        overflow: hidden;
        text-align: right;
    }

    .markdown_body code,
    .markdown_body tt {
        padding: .2em .4em;
        margin: 0;
        font-size: 85%;
        white-space: break-spaces;
        background-color: #656c7633;
        border-radius: 6px;
    }

    .markdown_body code br,
    .markdown_body tt br {
        display: none;
    }

    .markdown_body del code {
        text-decoration: inherit;
    }

    .markdown_body samp {
        font-size: 85%;
    }

    .markdown_body pre code {
        font-size: 100%;
    }

    .markdown_body pre>code {
        padding: 0;
        margin: 0;
        word-break: normal;
        white-space: pre;
        background: transparent;
        border: 0;
    }

    .markdown_body .highlight {
        margin-bottom: 1rem;
    }

    .markdown_body .highlight pre {
        margin-bottom: 0;
        word-break: normal;
    }

    .markdown_body .highlight pre,
    .markdown_body pre {
        padding: 1rem;
        overflow: auto;
        font-size: 85%;
        line-height: 1.45;
        color: #f0f6fc;
        background-color: #151b23;
        border-radius: 6px;
    }

    .markdown_body pre code,
    .markdown_body pre tt {
        display: inline;
        max-width: auto;
        padding: 0;
        margin: 0;
        overflow: visible;
        line-height: inherit;
        word-wrap: normal;
        background-color: transparent;
        border: 0;
    }

    .markdown_body .csv-data td,
    .markdown_body .csv-data th {
        padding: 5px;
        overflow: hidden;
        font-size: 12px;
        line-height: 1;
        text-align: left;
        white-space: nowrap;
    }

    .markdown_body .csv-data .blob-num {
        padding: 10px 0.5rem 9px;
        text-align: right;
        background: #0d1117;
        border: 0;
    }

    .markdown_body .csv-data tr {
        border-top: 0;
    }

    .markdown_body .csv-data th {
        font-weight: 600;
        background: #151b23;
        border-top: 0;
    }

    .markdown_body [data-footnote-ref]::before {
        content: "[";
    }

    .markdown_body [data-footnote-ref]::after {
        content: "]";
    }

    .markdown_body .footnotes {
        font-size: 12px;
        color: #9198a1;
        border-top: 1px solid #3d444d;
    }

    .markdown_body .footnotes ol {
        padding-left: 1rem;
    }

    .markdown_body .footnotes ol ul {
        display: inline-block;
        padding-left: 1rem;
        margin-top: 1rem;
    }

    .markdown_body .footnotes li {
        position: relative;
    }

    .markdown_body .footnotes li:target::before {
        position: absolute;
        top: calc(0.5rem*-1);
        right: calc(0.5rem*-1);
        bottom: calc(0.5rem*-1);
        left: calc(1.5rem*-1);
        pointer-events: none;
        content: "";
        border: 2px solid #1f6feb;
        border-radius: 6px;
    }

    .markdown_body .footnotes li:target {
        color: #f0f6fc;
    }

    .markdown_body .footnotes .data-footnote-backref g-emoji {
        font-family: monospace;
    }

    .markdown_body body:has(:modal) {
        padding-right: var(--dialog-scrollgutter) !important;
    }

    .markdown_body .pl-c {
        color: #9198a1;
    }

    .markdown_body .pl-c1,
    .markdown_body .pl-s .pl-v {
        color: #79c0ff;
    }

    .markdown_body .pl-e,
    .markdown_body .pl-en {
        color: #d2a8ff;
    }

    .markdown_body .pl-smi,
    .markdown_body .pl-s .pl-s1 {
        color: #f0f6fc;
    }

    .markdown_body .pl-ent {
        color: #7ee787;
    }

    .markdown_body .pl-k {
        color: #ff7b72;
    }

    .markdown_body .pl-s,
    .markdown_body .pl-pds,
    .markdown_body .pl-s .pl-pse .pl-s1,
    .markdown_body .pl-sr,
    .markdown_body .pl-sr .pl-cce,
    .markdown_body .pl-sr .pl-sre,
    .markdown_body .pl-sr .pl-sra {
        color: #a5d6ff;
    }

    .markdown_body .pl-v,
    .markdown_body .pl-smw {
        color: #ffa657;
    }

    .markdown_body .pl-bu {
        color: #f85149;
    }

    .markdown_body .pl-ii {
        color: #f0f6fc;
        background-color: #8e1519;
    }

    .markdown_body .pl-c2 {
        color: #f0f6fc;
        background-color: #b62324;
    }

    .markdown_body .pl-sr .pl-cce {
        font-weight: bold;
        color: #7ee787;
    }

    .markdown_body .pl-ml {
        color: #f2cc60;
    }

    .markdown_body .pl-mh,
    .markdown_body .pl-mh .pl-en,
    .markdown_body .pl-ms {
        font-weight: bold;
        color: #1f6feb;
    }

    .markdown_body .pl-mi {
        font-style: italic;
        color: #f0f6fc;
    }

    .markdown_body .pl-mb {
        font-weight: bold;
        color: #f0f6fc;
    }

    .markdown_body .pl-md {
        color: #ffdcd7;
        background-color: #67060c;
    }

    .markdown_body .pl-mi1 {
        color: #aff5b4;
        background-color: #033a16;
    }

    .markdown_body .pl-mc {
        color: #ffdfb6;
        background-color: #5a1e02;
    }

    .markdown_body .pl-mi2 {
        color: #f0f6fc;
        background-color: #1158c7;
    }

    .markdown_body .pl-mdr {
        font-weight: bold;
        color: #d2a8ff;
    }

    .markdown_body .pl-ba {
        color: #9198a1;
    }

    .markdown_body .pl-sg {
        color: #3d444d;
    }

    .markdown_body .pl-corl {
        text-decoration: underline;
        color: #a5d6ff;
    }

    .markdown_body [role=button]:focus:not(:focus-visible),
    .markdown_body [role=tabpanel][tabindex="0"]:focus:not(:focus-visible),
    .markdown_body button:focus:not(:focus-visible),
    .markdown_body summary:focus:not(:focus-visible),
    .markdown_body a:focus:not(:focus-visible) {
        outline: none;
        box-shadow: none;
    }

    .markdown_body [tabindex="0"]:focus:not(:focus-visible),
    .markdown_body details-dialog:focus:not(:focus-visible) {
        outline: none;
    }

    .markdown_body g-emoji {
        display: inline-block;
        min-width: 1ch;
        font-family: "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
        font-size: 1em;
        font-style: normal !important;
        font-weight: 400;
        line-height: 1;
        vertical-align: -0.075em;
    }

    .markdown_body g-emoji img {
        width: 1em;
        height: 1em;
    }

    .markdown_body .task-list-item {
        list-style-type: none;
    }

    .markdown_body .task-list-item label {
        font-weight: 400;
    }

    .markdown_body .task-list-item.enabled label {
        cursor: pointer;
    }

    .markdown_body .task-list-item+.task-list-item {
        margin-top: 0.25rem;
    }

    .markdown_body .task-list-item .handle {
        display: none;
    }

    .markdown_body .task-list-item-checkbox {
        margin: 0 .2em .25em -1.4em;
        vertical-align: middle;
    }

    .markdown_body ul:dir(rtl) .task-list-item-checkbox {
        margin: 0 -1.6em .25em .2em;
    }

    .markdown_body ol:dir(rtl) .task-list-item-checkbox {
        margin: 0 -1.6em .25em .2em;
    }

    .markdown_body .contains-task-list:hover .task-list-item-convert-container,
    .markdown_body .contains-task-list:focus-within .task-list-item-convert-container {
        display: block;
        width: auto;
        height: 24px;
        overflow: visible;
        clip: auto;
    }

    .markdown_body ::-webkit-calendar-picker-indicator {
        filter: invert(50%);
    }

    .markdown_body .markdown-alert {
        padding: 0.5rem 1rem;
        margin-bottom: 1rem;
        color: inherit;
        border-left: .25em solid #3d444d;
    }

    .markdown_body .markdown-alert>:first-child {
        margin-top: 0;
    }

    .markdown_body .markdown-alert>:last-child {
        margin-bottom: 0;
    }

    .markdown_body .markdown-alert .markdown-alert-title {
        display: flex;
        font-weight: 500;
        align-items: center;
        line-height: 1;
    }

    .markdown_body .markdown-alert.markdown-alert-note {
        border-left-color: #1f6feb;
    }

    .markdown_body .markdown-alert.markdown-alert-note .markdown-alert-title {
        color: #4493f8;
    }

    .markdown_body .markdown-alert.markdown-alert-important {
        border-left-color: #8957e5;
    }

    .markdown_body .markdown-alert.markdown-alert-important .markdown-alert-title {
        color: #ab7df8;
    }

    .markdown_body .markdown-alert.markdown-alert-warning {
        border-left-color: #9e6a03;
    }

    .markdown_body .markdown-alert.markdown-alert-warning .markdown-alert-title {
        color: #d29922;
    }

    .markdown_body .markdown-alert.markdown-alert-tip {
        border-left-color: #238636;
    }

    .markdown_body .markdown-alert.markdown-alert-tip .markdown-alert-title {
        color: #3fb950;
    }

    .markdown_body .markdown-alert.markdown-alert-caution {
        border-left-color: #da3633;
    }

    .markdown_body .markdown-alert.markdown-alert-caution .markdown-alert-title {
        color: #f85149;
    }

    .markdown_body>*:first-child>.heading-element:first-child {
        margin-top: 0 !important;
    }

    .markdown_body .highlight pre:has(+.zeroclipboard-container) {
        min-height: 52px;
    }
}
