.photo_page {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    padding-top: 20px;
}

.photo_page img {
    max-width: var(--layout-content-width);
    max-height: calc(var(--layout-content-height));
    width: auto;
    height: 100%;
}
