.photos_list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 16px;
}

.photos_list_card {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: auto;
}

.photos_list_card img {
    width: 100%;
    max-width: var(--layout-content-width);
    height: 300px;
    /* contain doesn't look so bad, either. */
    /* It uses the nicely blurry background to fill the space. */
    /* cover is the other option. */
    object-fit: contain;
}
