.photo_page {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: calc(var(--layout-footer-height) / 2);
    padding-top: calc(var(--layout-footer-height) / 2);
}

.photo_page img {
    max-width: var(--layout-content-width);
    max-height: calc(var(--layout-content-height));
    width: auto;
    height: 100%;
}
