name: Dev Build

on:
  push:
    branches:
      - dev

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Setup Node
        uses: actions/setup-node@v6
        with:
          node-version: 24.11.1

      - name: Clone Repo
        uses: actions/checkout@v6
        with:
          lfs: true

      - name: Install Dependencies
        run: npm install

      - name: Clean
        run: npm run clean

      - name: Build
        run: npm run build
        env:
          IMMICH_BASE_URL: "${{secrets.IMMICH_BASE_URL}}"
          IMMICH_API_KEY: "${{secrets.IMMICH_API_KEY}}"

      - name: Check Image Size
        run: npm run check_image_size

      - name: Deploy to GitHub Pages
        uses: JamesIves/github-pages-deploy-action@v4.7.4
        with:
          branch: pages
          folder: deploy
